{% extends "auctions/layout.html" %}

{% block body %}

    {% if item == NULL %}
        <div class="container-md">
            <h2>New Listings</h2>
            <form action="{% url 'new_listing' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="itemObject" class="form-label"><strong>Choose what LEGO set do you want to sell:</strong></label>
                    <div class="input-group mb-3">
                        <input class="form-control" list="itemOptions" id="itemObject" name="itemObject" placeholder="Type to search...">
                        <datalist id="itemOptions">
                            {% for item in items %}
                                <option value="{{ item.item_id }}: {{item.item_name}}">
                            {% endfor %}
                        </datalist>
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Next..</button>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container-md">
            <form action="{% url 'new_listing' %}" method="POST">
                {% csrf_token %}
                <div class="row justify-content-start">
                    <div class="col-4">
                        <label for="itemId" class="col-sm-2 col-form-label"><strong>ID</strong></label>
                        <input class="form-control" type="text" id="itemId" name="itemId" value="{{item.item_id}}" readonly>
                    </div>
                    <div class="col-8">
                        <label for="itemName" class="col-sm-2 col-form-label"><strong>Name</strong></label>
                        <input class="form-control" type="text" id="itemName" name="itemName" value="{{item.item_name}}" readonly>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-4">
                        <label for="itemYear" class="col-sm-2 col-form-label"><strong>Year</strong></label>
                        <input class="form-control" type="text" id="itemYear" name="itemYear" value="{{item.item_year}}" readonly>
                    </div>
                    <div class="col-8">
                        <label for="itemTheme" class="col-sm-2 col-form-label"><strong>Theme</strong></label>
                        <input class="form-control" type="text" id="itemTheme" name="itemTheme" value="{{item.item_theme}}" readonly>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col">
                        <img class="imageBig" src="{{item.item_url_image}}" alt="Sorry, we have no image of this item">
                    </div>
                    <div class="col">
                        <!-- space for the second (user's) image -->
                    </div>
                </div>
                <div class="mb-3">
                    <label for="itemDescription" class="form-label"><strong>Description</strong></label>
                    <textarea class="form-control" id="itemDiscription" name="itemDiscription" rows="3"></textarea>
                </div>

                <div class="row justify-content-start">
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="itemPrice" class="form-label"><strong>Price</strong></label>
                            <input type="number" class="form-control" id="itemPrice" name="itemPrice" placeholder="$ 0.00" min="0.00" step="0.01">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="itemCondition" class="form-label"><strong>Condition</strong></label>
                            <input class="form-control" list="conditionOptions" id="itemCondition" name="itemCondition" placeholder="Type to search...">
                            <datalist id="conditionOptions">
                                {% for item in conditions %}
                                    <option value="{{ item.item_condition }}">
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="itemShipping" name="itemShipping">
                            <label class="form-check-label" for="itemShipping"><strong>Shipping avaliable</strong></label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="itemImage" class="form-label"><strong>Image</strong></label>
                            <input type="text" class="form-control" id="itemImage" name="itemImage" placeholder="You can add your image (url)">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success"><strong>Add Listing</strong></button>
                <a href="{% url 'new_listing'%}" class="btn btn-secondary"><strong>Discard</strong></a>
            </form>
        </div>
    {% endif %}

{% endblock %}

<{% block script %}

    <script>

    </script>

{% endblock %}>